<div class="loop-section">
	<div class="loop-wrap">
		{{^is "paged"}}
			{{#get "posts" filter="tags:[book, podcast, article]"}}
				{{#foreach posts}}
					{{>loop_item_book}}
				{{/foreach}}
			{{/get}}
		{{/is}}
	</div>
</div>
