{{! Detailed instructions can be found in the Documentation >> Activation >> Special sections }}


{{#get "posts" limit="4" filter="visibility:members" include="authors,tags"}}
<div class="global-sections{{>global sections_counter=true}}">
	{{#foreach posts visibility="all"}}
	{{>sections_items label="Members only"}}
	{{/foreach}}
</div>
{{/get}}
